body {
    background-color: #fc9;
}

#generalInfo, .section-textarea, .section-textrow {
    background-color: #fff5ee;
    border-radius: 15px;
    -moz-border-radius: 15px;
    padding: 5px;
    margin: 2px;
}
.section-textarea {
    min-height: 150px;
}
.section-textrow {
    min-height: 75px;
    overflow: auto;
}

.row {
    min-width: 320px;
    min-height: 150px;
}

.stat-item, .description-item {
    background-color: #a78d84;
    border-radius: 15px;
    -moz-border-radius: 15px;
    padding: 5px 5px 11px 5px;
    margin: 2px;
    overflow: auto;
}
.stat-value {
    background-color: #fff;
    border-radius: 15px;
    margin: 0px 15px;
    font-size: 2.1em;
}
.description-value {
    background-color: #fff;
    border-radius: 15px;
    padding: 0px 2px;
    margin: 0px 0px;
    font-size: .8em;
}

.stat-sub-item {
    background-color: #a78d84;
    border-radius: 15px;
    -moz-border-radius: 15px;
    padding: 5px 5px 0px 5px;
    margin: 2px;
    overflow: auto;
}
.stat-sub-value-left {
    background-color: #fff;
    font-size: 1.5em;
    border-top-left-radius: 15px;
    border-right: 4px solid #ff9;
    margin-right: -15px;
}
.stat-sub-label-left {
    background-color: #ff9;
    font-size: .8em;
    margin-top: -10px;
    margin-right: -15px;
    border-bottom-left-radius: 15px;
}

.stat-sub-value-right {
    background-color: #fff;
    font-size: 1.5em;
    border-top-right-radius: 15px;
    border-left: 4px solid #cf9;
    margin-left: -15px;
}
.stat-sub-label-right {
    background-color: #cf9;
    font-size: .8em;
    margin-top: -10px;
    margin-left: -15px;
    border-bottom-right-radius: 15px;
}

.equipment-detail {
    color: #a78d84;
    padding-left: 40px;
}

.footer {
    color: #fff;
}

